*{
  box-sizing: border-box;
}

.main{
  margin: 0;
  background-color: #F9F9F9;
  display: grid;
  grid-template-columns: repeat(4,1fr);
}

.content{
  width: 80%;
  margin-right: 0;
}

navBar{
  margin: 0px;
  padding: 20px;
  width: 21% !important;
  background: linear-gradient(to bottom, #37129c, #0ed7fb);;
  height: 100vh;
  color: white;
  position: fixed;
}
.space{
  margin: 0px;
  padding: 0px;
  width: 23%;
}
aphotos{
  width: 100%;
  padding: 0;
  margin: 0;
}
