<div class="photos">
  <div class="image-section">
    <img id="0" class="image" src="https://fakestoreapi.com/img/71HblAHs5xL._AC_UY879_-2.jpg" alt="#">
    <div id="o-0" class="photo-opecity"></div>
    <div id="no-0" class="photo-noopecity">
      <h4>UI experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quia.</p>
    </div>
  </div>

  <div class="image-section">
    <img id="1" src="https://fakestoreapi.com/img/51eg55uWmdL._AC_UX679_.jpg" alt="#">
    <div id="o-0" class="photo-opecity"></div>
    <div id="no-0" class="photo-noopecity">
      <h4>UI experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quia.</p>
    </div>
  </div>

  <div class="image-section">
    <img id="2" src="https://fakestoreapi.com/img/61U7T1koQqL._AC_SX679_.jpg" alt="#">
    <div id="o-0" class="photo-opecity"></div>
    <div id="no-0" class="photo-noopecity">
      <h4>UI experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quia.</p>
    </div>
  </div>

  <div class="image-section">
    <img id="3" src="https://fakestoreapi.com/img/71YAIFU48IL._AC_UL640_QL65_ML3_.jpg" alt="#">
    <div id="o-0" class="photo-opecity"></div>
    <div id="no-0" class="photo-noopecity">
      <h4>UI experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quia.</p>
    </div>
  </div>

  <div class="image-section">
    <img id="4" src="https://fakestoreapi.com/img/71pWzhdJNwL._AC_UL640_QL65_ML3_.jpg" alt="#">
    <div id="o-0" class="photo-opecity"></div>
    <div id="no-0" class="photo-noopecity">
      <h4>UI experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quia.</p>
    </div>
  </div>

  <div class="image-section">
    <img id="5" src="https://fakestoreapi.com/img/51UDEzMJVpL._AC_UL640_QL65_ML3_.jpg" alt="#">
    <div id="o-0" class="photo-opecity"></div>
    <div id="no-0" class="photo-noopecity">
      <h4>UI experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quia.</p>
    </div>
  </div>

  <div class="image-section">
    <img id="6" src="https://fakestoreapi.com/img/61sbMiUnoGL._AC_UL640_QL65_ML3_.jpg" alt=" #">
    <div id="o-0" class="photo-opecity"></div>
    <div id="no-0" class="photo-noopecity">
      <h4>UI experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quia.</p>
    </div>
  </div>

  <div class="image-section">
    <img id="7" src="https://fakestoreapi.com/img/71-3HjGNDUL._AC_SY879._SX._UX._SY._UY_.jpg" alt="#">
    <div id="o-0" class="photo-opecity"></div>
    <div id="no-0" class="photo-noopecity">
      <h4>UI experience</h4>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate, quia.</p>
    </div>
  </div>

</div>